a {
    color: cornflowerblue;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline;
    color : #ff2244;
}
a.inHeader {
    text-decoration: none;
    color: black;
}
header, main, footer {
    max-width: 1920px;
    margin: auto;
}
body {
    background: gainsboro;
    margin: 0px;
}
header {
        background: cornflowerblue;
        overflow: auto;
    }
main {
    background: ghostwhite;
    overflow: auto;
}
header h1 {
    float: left;
    width: 1000px;
    margin-left: 10px;
}
header nav {
    float: right;
    width: 500px;
}
footer{
    overflow: auto;
}
footer .contact {
    float: left;
    width:1000px;
}
footer .sitemap {
    float: right;
    width: 400px;
}
div {
    margin: 10px;
}
main .desc{
    float: left;
    /*width: 600px;*/
}
main .comments{
    float:left;
    width:300px;
}
main .comment-input{
    float:right;
    width:200px;
    margin-right: 100px;
}
.comments p:nth-child(even) {
    background: lavender;
}
.comments p:nth-child(odd) {
    background: gainsboro;
}
.comments h3 {
    background: lavender;
    margin: 5px;
}
.comments ul {
    background: gainsboro;
    margin: 2px;
    padding-left: 5px;
    margin-left: 15px;
}
.comments ul li {
    margin: 1px;
}
.tabs a span{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
}
span.active {
    background: aqua;
}
span.notActive {
    background: #ddd;
}
